# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# examples (generated config and html files from templates)
/examples/config.json
index.html
google.html
# special-case to ignore generated js files for npm loader example
/examples/npmLoader/exampleGoogle.js
/examples/npmLoader/example.js

# generated version file
/src/version.ts

# production
/build
/dist
/docs
/*.tgz

# misc
.DS_Store

npm-debug.log*

.idea/*
*.iml

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide