#map {
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#search-container {
  text-align: center;
}
#search-input {
  position: absolute;
  z-index: 100;
  right: 20%;
  top: 20px;
  width: 50%;
}

/* This is for the directions example */
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

.example-links {
  font-size: 1.5em;
  margin-right: 5px;
}
