#map {
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#search-container {
  text-align: center;
}
#search-input {
  position: absolute;
  z-index: 100;
  right: 20%;
  top: 20px;
  width: 50%;
}

/* This is for the directions example */
#floating-panel {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  width: 1000px;
}

.example-links {
  font-size: 1.5em;
  margin-right: 5px;
}

/* This is for the markers example */
.price-tag {
  background-color: #8d0cf0;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
}

.price-tag::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #8d0cf0;
}
